table {
    border-collapse:collapse; 
    td {
        padding: 10px 0 0 0;
    }
  }


  button[mat-icon-button] {
    line-height: 26px !important;
    width: 26px !important;
    height: 26px !important;
    font-size: 15px !important;
    margin-left: -26px;
    // margin-bottom: -10px;
  }