.flex-row {
	display: flex;
	//background-color: lightsteelblue;
	//padding: 5px;

	button + button {
		margin-left: .5em;
	}

	button {
		font-size: 1rem;
		display: inline-flex;
		align-items: center;
        height: 40px;

		&:hover {
			cursor: pointer;
		}
        &:disabled{
            transform: scale(1, 1);
            background-color: lightgray;
            color: gray;
            cursor: not-allowed;
            // cursor: auto;
        }
	}
}

.mat-menu-icon{
    height:50px;
    line-height: 50px;
}


.mat-tool-btn{
    display: flex;
    margin-top: 5px;
    line-height: 50px;
    color: white;
    background-color: #1d76cf;
    font-weight: 550;
}        
.mat-tool-btn:hover{
    transform: scale(.95, .95);
    font-weight: 550;
}      

.mat-tool-btn:active{
    transform: scale(1,1);
}     

.font-test{
    font-family: Roboto, "Helvetica Neue", sans-serif !important;
    color: white !important;
    font-size: 1.3rem;
    font-weight: 550;    
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.title-bar{
    display: flex;
    background-color: #1d76cf;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7) inset;
    width: 100%;
    padding-top: 10px;
    height: 50px;
    line-height: 50px;
}