table {
    border-collapse: collapse;

    thead th {
        padding: 5px;
        font-size: 1.1rem;
        border: 1px solid lightgray;
				background-color: rgba(black, .5);
				color: white;
    }

    tbody td {
        padding: 5px;
        font-size: 1.1rem;
        border: 1px solid lightgray;
    }

    tbody tr {
        cursor: pointer;
    }

    tbody tr:hover {
        background: lightblue;
    }

}



.input-box {
    position: relative;
    margin-bottom: 8px;
    // background: khaki;

    input + input {
        margin-left: 5px;
    }

    button {
        margin-left: 5px;
    }
}

.input-box .loading {
    position: absolute;
    top: 35px;
    left: 50%;
    display: flex;
    align-items: center;

    transform: translateX(-50%);
    z-index: 999;

    background: white;
    border: 1px solid lightblue;
    padding: 3px;
}