/* You can add global styles to this file, and also import other style files */

@import 'ag-grid-community/styles/ag-grid.css'; // Core grid CSS, always needed
@import 'ag-grid-community/styles/ag-theme-alpine.css'; // Optional theme CSS
//@import 'ag-grid-community/styles/ag-theme-alpine.min.css';// Optional theme CSS ->black edition


html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

//input.ng-touched.ng-invalid {
input.ng-dirty.ng-invalid {
	border: 2px solid red !important;
	border-radius: 3px;
	//outline: none;
	outline: 0;
}

.record-count {
	font-size: 1rem;
	font-family: inherit;
	margin-left: 1rem;
	padding-bottom: 10px;
}

// alert dialog
.alert-title {
	display: flex !important;
	align-items: center !important;
	font-size: 1rem;
	color: #369;
}

.alert-title .close {
	color: #369;
	margin-left: auto;

	&:hover {
		transition: all 200ms ease;
		transform: scale(1.1);
		background-color: lightgray;
		color: indianred;
		border-radius: 1em;
	}
}

.alert-content {
	display: flex !important;
	align-items: center;
}

.alert-content img {
	width: 40px;
	height: 40px;
}

.alert-content .message {
	font-size: 1.1rem;
	font-weight: bold;
	margin: 0;
	margin-left: .5em;
}

.alert-content .multi-line {
	font-size: 1.1rem;
	font-weight: bold;
}

.alert-actions {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.ag-center-header {
	text-align: center;
}

.green-snackbar {
	background: rgb(68, 235, 35);
}

.mat-simple-snackbar {
	display: flex;
	font-size: 20px !important;
	font-weight: bold !important;
	color: black;
	align-items: center !important;
	justify-content: center !important;
}

.background-frame {
	//width: fit-content;
	//margin: auto;
	//margin-top: 7vh;
	//padding: 30px 60px 60px 60px;
	//background-color: #E0E7E9
	max-width: 1600px;
	display: flex;
	justify-content: center;
	background-color: #E0E7e9;
	padding: 30px 0;
	margin: 5em auto 2em auto;

}

input,
textarea {
	font-family: inherit; //css reset 因為input textarea不會繼承body的font family因此這裡要強制繼承
	font-size: 1.1rem;
	border-radius: 5px;
	border-width: 1px;
	padding: 2px 5px;
}

input[readonly] {
	font-family: inherit;
	background-color: #eeeeee;
	border-width: 1px;
	cursor: auto;
}

mat-select {
	font-family: inherit;
	border-radius: 5px;
	border: 1px solid black !important;
	line-height: 26px !important;
	padding: 2px 5px;
	background-color: white !important;
}

.mat-divider {
	border-top-color: #747a81;
	height: 0px !important;
	margin-top: 10px;
	margin-bottom: 5px;
}

form table td:nth-child(odd) {
	color: black;
}

form table td label {
	display: block;
	text-align: right;
	margin-right: 5px;
}



// --------------------
.mt-2 td {
	font-size: 1.1rem;
}

.mt-2 tr {
	line-height: 2rem;
}

.mt-2 .line-h-3 {
	line-height: 3rem;
}

.text-align-right {
	text-align: right;
}

//-----utility
.mt-0 {
	margin-top: 0em;
}

.mt-1 {
	margin-top: 0.25em;
}

.mt-1-5 {
	margin-top: 0.4em;
}

.mt-2 {
	margin-top: 0.5em;
}

.mt-3 {
	margin-top: 1em;
}

.mt-4 {
	margin-top: 1.25em;
}

.mt-5 {
	margin-top: 1.5em;
}

.mb-0 {
	margin-bottom: 0em;
}

.mb-1 {
	margin-bottom: 0.25em;
}

.mb-2 {
	margin-bottom: 0.5em;
}

.mb-3 {
	margin-bottom: 1em;
}

.mb-4 {
	margin-bottom: 1.25em;
}

.mb-5 {
	margin-bottom: 1.5em;
}

.ms-0 {
	margin-left: 0em;
}

.ms-1 {
	margin-left: 0.25em;
}

.ms-2 {
	margin-left: 0.5em;
}

.ms-3 {
	margin-left: 1em;
}

.ms-4 {
	margin-left: 1.25em;
}

.ms-5 {
	margin-left: 1.5em;
}

.me-0 {
	margin-right: 0em;
}

.me-1 {
	margin-right: 0.25em;
}

.me-2 {
	margin-right: 0.5em;
}

.me-3 {
	margin-right: 1em;
}

.me-4 {
	margin-right: 1.25em;
}

.me-5 {
	margin-right: 1.5em;
}

.pt-0 {
	padding-top: 0em;
}

.pt-1 {
	padding-top: 0.25em;
}

.pt-2 {
	padding-top: 0.5em;
}

.pt-3 {
	padding-top: 1em;
}

.pt-4 {
	padding-top: 1.25em;
}

.pt-5 {
	padding-top: 1.5em;
}

.pb-0 {
	padding-bottom: 0em;
}

.pb-1 {
	padding-bottom: 0.25em;
}

.pb-2 {
	padding-bottom: 0.5em;
}

.pb-3 {
	padding-bottom: 1em;
}

.pb-4 {
	padding-bottom: 1.25em;
}

.pb-5 {
	padding-bottom: 1.5em;
}

.ps-0 {
	padding-left: 0em;
}

.ps-1 {
	padding-left: 0.25em;
}

.ps-2 {
	padding-left: 0.5em;
}

.ps-3 {
	padding-left: 1em;
}

.ps-4 {
	padding-left: 1.25em;
}

.ps-5 {
	padding-left: 1.5em;
}

.pe-0 {
	padding-right: 0em;
}

.pe-1 {
	padding-right: 0.25em;
}

.pe-2 {
	padding-right: 0.5em;
}

.pe-3 {
	padding-right: 1em;
}

.pe-4 {
	padding-right: 1.25em;
}

.pe-5 {
	padding-right: 1.5em;
}

.w-25 {
	width: 25%;
}

.w-50 {
	width: 50%;
}

.w-75 {
	width: 50%;
}

.w-100 {
	width: 100%;
}

.w-auto {
	width: auto;
}

.h-25 {
	height: 25%;
}

.h-50 {
	height: 50%;
}

.h-75 {
	height: 50%;
}

.h-100 {
	height: 100%;
}

.h-auto {
	height: auto;
}